* {
    background-color: navajowhite;
}
body {
    margin: 2rem;
}
img { 
    height: 300px; 
    width: auto;
}
h1 { 
    color: red; 
    font-size: 32px;
}
p {
    font-size: 16px;
}
h3 {
    font-size: 24px;
}
/* Basic flex container for responsiveness*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}